 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.45), rgba(41,45,51,0.45)), url("images/pexelsphoto534233.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 716px;
}

.u-section-1 .u-group-1 {
  width: 719px;
  min-height: 333px;
  margin: 192px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  position: relative;
  margin: 23px 0 0;
}

.u-section-1 .u-text-2 {
  position: relative;
  letter-spacing: 3px;
  margin: 20px 0 23px;
}

.u-section-1 .u-btn-1 {
  position: relative;
  margin-left: 257px;
  margin-right: 257px;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 593px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 212px;
    margin-right: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-group-1 {
    min-height: 410px;
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 264px;
    margin-right: 264px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 178px;
    margin-right: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 77px;
    margin-right: 77px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 303px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -95px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 338px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-1 {
  height: 150px;
  width: 150px;
  background-image: none;
  margin: 20px 95px 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 338px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-2 {
  height: 150px;
  width: 150px;
  background-image: none;
  margin: 20px 95px 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 338px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-3 {
  height: 150px;
  width: 150px;
  background-image: none;
  margin: 20px 95px 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 78px;
    margin-right: 78px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 78px;
    margin-right: 78px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 78px;
    margin-right: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 373px;
    margin: -93px auto 58px 84px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 103px;
    margin-right: 103px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 103px;
    margin-right: 103px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 103px;
    margin-right: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: -99px;
    margin-bottom: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 89px;
    margin-right: 89px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexelsphoto118009.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 556px;
}

.u-section-3 .u-group-1 {
  width: 791px;
  min-height: 376px;
  margin: 90px auto 55px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  border-style: none;
  margin: 30px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-group-1 {
    width: 652px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 500px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 468px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 526px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 64px auto 64px 0;
}

.u-section-4 .u-image-1 {
  min-height: 459px;
  background-image: url("images/pexelsphoto1288482.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 459px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 40px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-4 .u-image-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 353px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 982px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 147px;
  margin: 40px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 15px 0 0;
}

.u-section-5 .u-text-2 {
  position: relative;
  margin: 20px 0 15px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1054px;
  margin: 22px auto 0 43px;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 314px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/pexelsphoto106399.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-5 .u-text-3 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 20px 0;
}

.u-section-5 .u-text-4 {
  margin: 6px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 314px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/pexelsphoto534182.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-5 .u-text-5 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 20px 0;
}

.u-section-5 .u-text-6 {
  margin: 6px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 314px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("images/pexelsphoto1000985.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-5 .u-text-7 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 20px 0;
}

.u-section-5 .u-text-8 {
  margin: 6px auto 0;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 314px;
}

.u-section-5 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-4 {
  width: 180px;
  height: 180px;
  background-image: url("images/pexelsphoto1370704.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-5 .u-text-9 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 20px 0;
}

.u-section-5 .u-text-10 {
  margin: 6px auto 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 314px;
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-5 {
  width: 180px;
  height: 180px;
  background-image: url("images/pexelsphoto1475938.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-5 .u-text-11 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 20px 0;
}

.u-section-5 .u-text-12 {
  width: 126px;
  margin: 6px auto 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 314px;
  background-image: none;
}

.u-section-5 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-6 {
  width: 180px;
  height: 180px;
  background-image: url("images/pexelsphoto1504025.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-5 .u-text-13 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 20px 0;
}

.u-section-5 .u-text-14 {
  width: 126px;
  margin: 6px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  border-style: none;
  margin: 63px auto 52px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-group-1 {
    width: 470px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 869px;
    margin-left: 35px;
  }

  .u-section-5 .u-image-1 {
    width: 148px;
    height: 148px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-2 {
    width: 148px;
    height: 148px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-3 {
    width: 148px;
    height: 148px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-4 {
    width: 148px;
    height: 148px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-5 {
    width: 148px;
    height: 148px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-12 {
    width: 104px;
  }

  .u-section-5 .u-image-6 {
    width: 148px;
    height: 148px;
  }

  .u-section-5 .u-text-13 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-14 {
    width: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 360px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 666px;
    margin-left: 27px;
  }

  .u-section-5 .u-image-1 {
    width: 114px;
    height: 114px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-bottom: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 114px;
    height: 114px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-bottom: 30px;
  }

  .u-section-5 .u-image-3 {
    width: 114px;
    height: 114px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-bottom: 30px;
  }

  .u-section-5 .u-image-4 {
    width: 114px;
    height: 114px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-10 {
    margin-bottom: 30px;
  }

  .u-section-5 .u-image-5 {
    width: 114px;
    height: 114px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-12 {
    width: 79px;
    margin-bottom: 30px;
  }

  .u-section-5 .u-image-6 {
    width: 114px;
    height: 114px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-13 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-14 {
    width: 79px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 338px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 520px;
    margin-left: 20px;
  }

  .u-section-5 .u-image-1 {
    width: 107px;
    height: 107px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-image-2 {
    width: 107px;
    height: 107px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-image-3 {
    width: 107px;
    height: 107px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-image-4 {
    width: 107px;
    height: 107px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-image-5 {
    width: 107px;
    height: 107px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-12 {
    width: 74px;
  }

  .u-section-5 .u-image-6 {
    width: 107px;
    height: 107px;
  }

  .u-section-5 .u-text-13 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-14 {
    width: 74px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 283px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 327px;
    margin-left: 13px;
  }

  .u-section-5 .u-image-1 {
    width: 89px;
    height: 89px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-2 {
    width: 89px;
    height: 89px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-3 {
    width: 89px;
    height: 89px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-4 {
    width: 89px;
    height: 89px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-5 {
    width: 89px;
    height: 89px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-12 {
    width: 62px;
  }

  .u-section-5 .u-image-6 {
    width: 89px;
    height: 89px;
  }

  .u-section-5 .u-text-13 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-14 {
    width: 62px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexelsphoto1439712.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 531px;
}

.u-section-6 .u-group-1 {
  width: 807px;
  min-height: 331px;
  margin: 94px auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 35px 0 0;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  border-style: none;
  margin: 32px auto 35px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-group-1 {
    width: 665px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-6 .u-group-1 {
    min-height: 445px;
    margin-bottom: 65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-6 .u-btn-1 {
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 638px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 58px auto 58px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 667px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-image-1 {
  height: 392px;
  margin: 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 33px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 12px 0 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  width: 141px;
  height: 42px;
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 667px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-image-2 {
  height: 392px;
  margin: 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 33px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 12px 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 45px auto 45px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-btn-1 {
    width: 116px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-btn-1 {
    width: 89px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-btn-1 {
    width: 83px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-btn-1 {
    width: 70px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-8 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-8 .u-sheet-1 {
  min-height: 682px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1198px;
}

.u-section-9 .u-group-1 {
  min-height: 150px;
  width: 800px;
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 15px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 15px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 15px auto 52px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 449px;
}

.u-section-9 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-9 .u-text-3 {
  margin-left: 0;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 14px auto 45px 0;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

.u-section-9 .u-icon-3 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 449px;
}

.u-section-9 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-9 .u-text-4 {
  position: relative;
  margin: 20px 20px 0 0;
}

.u-section-9 .u-form-1 {
  height: 308px;
  margin: 15px 35px -32px 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 660px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-9 .u-form-1 {
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    min-height: 295px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-9 .u-form-1 {
    margin-right: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    min-height: 270px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-bottom: 0;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 9px;
  }

  .u-section-9 .u-form-1 {
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    min-height: 150px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 6px;
  }

  .u-section-9 .u-form-1 {
    margin-right: 10px;
  }
}